#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LVX_USE_DEMO_CONTEST2026_023_VELAOPS
	bool "Contest 2026 team 023 VelaOps device client"
	default y
	depends on CRYPTO_MBEDTLS && NETUTILS_CJSON && NETUTILS_NTPCLIENT
	depends on EXAMPLES_AI_AGENT_VELA
	---help---
		Enable the contest 2026 team 023 VelaOps device client.
